<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="İhracat Odaklı Ceviz ve Gıda Ürünleri - Gazelli Grup" />
    <meta name="keywords" content="ihracat, ceviz, gıda, sağlıklı beslenme, organik ürünler" />
    <meta name="author" content="Gazelli Grup" />

    <!-- Facebook Open Graph Meta Etiketleri -->
    <meta property="og:title" content="Gazelli Grup - İhracat Odaklı Ceviz ve Gıda Ürünleri" />
    <meta property="og:description" content="Sağlıklı ve organik ceviz ürünleri ile dünya çapında ihracat" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.gazelligrup.com/" />
    <meta property="og:image" content="https://www.gazelligrup.com/og-image.jpg" />

    <!-- Twitter Card Meta Etiketleri -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Gazelli Grup - İhracat Odaklı Ceviz ve Gıda Ürünleri" />
    <meta name="twitter:description" content="Sağlıklı ve organik ceviz ürünleri ile dünya çapında ihracat" />
    
    <meta name="twitter:image" content="https://www.gazelligrup.com/twitter-card-image.jpg" />

    <title>Gazelli Grup - İhracat Odaklı Ceviz ve Gıda Ürünleri</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/walnut.png" sizes="32x32" />
    <title>@ViewData["Title"] - Gazelli Grup</title>
    <!-- Bootstrap CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.3/gsap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.3/Flip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.3/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.3/ScrollToPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.3/Draggable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.3/MotionPathPlugin.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+4fFjcJ3p5UgeB0F2w5/8bZz5g7zcDqMQwU6qZ2KR5fozF1F" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" integrity="sha512-rmEycGxks6bPEfi8QJ5TC76TlINlnaMC8VXlAaMf0xkcQBRNep7L/Nsp16Ob1n7M4oTe25v9FTp2qaQwMtc+ag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900,900i" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css">
    <link href="https://cdn.jsdelivr.net/npm/mdb@5.5.0/dist/css/mdb.min.css" rel="stylesheet" integrity="sha384-jc6pu3aAqN3N4fF1Pt6vLEH0p5WF6xcSk4g1BLpxf8Dv0aRRoJKDQDh2FvUEz0Ict" crossorigin="anonymous">
   
    <link rel="stylesheet" type="text/css" href="~/css/FileName.css" />
    <link rel="stylesheet" type="text/css" href="~/css/animated.css" />
    <link rel="stylesheet" type="text/css" href="~/js/site.js" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link type="text/css" rel="stylesheet" href="css/lightgallery.css" />
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- lightgallery plugins -->
    <link type="text/css" rel="stylesheet" href="css/lg-zoom.css" />
    <link type="text/css" rel="stylesheet" href="css/lg-thumbnail.css" />


    <!-- OR -->

    <link type="text/css" rel="stylesheet" href="css/lightgallery-bundle.css" />
    <link rel="stylesheet" href="~/ceviz_A.s.styles.css" asp-append-version="true" />
    <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet" />


</head>

<body style="margin-bottom: 0px">


    <header class="header navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">

            <img src="/Adsız_tasarım__10_-removebg-preview.png" alt="Logo">
      

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <nav class="navbar navbar-expand-sm ml-auto">
                    <a href="/home" class="nav-item" style="--i: 0"> @_localization.Getkey("anasayfa")</a>
                    <a href="/home/hakkımızda" class="nav-item" style="--i: 1">@_localization.Getkey("Hakkımızd").Value</a>
                    <a href="/home/galeri" class="nav-item" style="--i: 2">@_localization.Getkey("Galeri")</a>
                    <div class="dropdown">
                        <button type="button" class="btn btn-globe dropdown-toggle" data-bs-toggle="dropdown">
                            <a class="nav-item" style="--i: 3">
                                @_localization.Getkey("urunGruplarımız")
                            </a>
                        </button>
                       

                        <!-- Dropdown içeriği -->
                        <div class="dropdown-menu">
                            <!-- Dropdown içerisindeki bağlantılar -->
                            <a class="dropdown-item" href="/home/varietiesOne">
                                kırık Ceviz
                                <i class="fa-solid fa-seedling"></i>
                            </a>
                            <a class="dropdown-item" href="/home/varietiesTwo">
                                ÇeyreK Ceviz
                                <i class="fa-solid fa-seedling"></i>
                            </a>
                            <a class="dropdown-item" href="/home/varietiesFour">
                                Kelebek Ceviz
                                <i class="fa-solid fa-seedling"></i>
                            </a>
                            <a class="dropdown-item" href="/home/varietiesThree">
                                Bal Kelebek Ceviz
                                <i class="fa-regular fa-lemon"></i>
                            </a>
                            <a class="dropdown-item" href="/home/varietiesFive">
                                Kızıl  Ceviz
                                <i class="fa-solid fa-seedling"></i>
                            </a>
                        </div>
                    </div>
                   
                    <a href="/home/İletisim" class="nav-item" style="--i: 4">@_localization.Getkey("İletişim")</a>

                    <div class="dropdown">
                        <button type="button" class="btn btn-globe dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fas fa-globe"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en-US" class="dropdown-item">
                                    <span class="fi fi-us "></span> <span class="fi fi-en">English </span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="tr-TR" class="dropdown-item">
                                    <span class="fi fi-tr"></span> <span class="fi fi-en">Türkçe </span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="fr-FR" class="dropdown-item">
                                    <span class="fi fi-nl"></span> <span class="fi fi-en">Nederlands </span>
                                </a>
                            </li>

                            <li>
                                <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="es-ES" class="dropdown-item">
                                    <span class="fi fi-es"></span> <span class="fi fi-en">Spanish</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- Explanation -->
</body>

</html>








<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
<div class="harita-css">
    <iframe id="harita" src="https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d6393937.445263335!2d26.8916381!3d38.5097937!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x152885f5a0c5fc31%3A0x5e4d083f6d13e7ec!2sgazelli%20grup!3m2!1d36.9920487!2d35.2553712!5e0!3m2!1str!2str!4v1696789149576!5m2!1str!2str" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>
<a id="button"></a>

<footer>

    <img class="logo-image"  src="/Adsız_tasarım__10_-removebg-preview.png" alt="Logo">


    <div class="social">
        <p>@_localization.Getkey("SosyalMedyadanBiziTakipEdin")</p>
        <ul class="wrapper">
            <li class="icon linkedin">
                <a href="https://tr.linkedin.com/company/gazelligrupgida" target="_blank">
                    <span class="tooltip">LinkedIn</span>
                    <span><i class="fab fa-linkedin"></i></span>
                </a>
            </li>

            <li class="icon facebook">
                <a href="https://www.facebook.com/gazelligrup/?locale=tr_TR" target="_blank">
                    <span class="tooltip">Facebook</span>
                    <span><i class="fab fa-facebook-f"></i></span>
                </a>
            </li>

            <li class="icon instagram">
                <a href="https://www.instagram.com/gazelligrup/" target="_blank">
                    <span class="tooltip">Instagram</span>
                    <span><i class="fab fa-instagram"></i></span>
                </a>
            </li>

        </ul>
        <p>&copy; 2023 Gazelli Grup - İhracat Odaklı Ceviz ve Gıda Ürünleri</p>
       
    </div>



   
    <script>
        
        var btn = $('#button');

        $(window).scroll(function () {
            if ($(window).scrollTop() > 300) {
                btn.addClass('show');
            } else {
                btn.removeClass('show');
            }
        });

        btn.on('click', function (e) {
            e.preventDefault();
            $('html, body').animate({ scrollTop: 0 }, '300');
        });


    </script>

   

</footer>








<!-- main-footer end -->



<script>

</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)

