

<body>


   
    <div class="slider w-100">
     

        <div class="slide"></div>
        <div class="slide"></div>
        <div class="slide"></div>
        <div class="slide"></div>
        <div class="slide"></div>
        <div class="slide"></div>
        <div class ="ban_text">
           
            <strong>
                <span>@_localization.Getkey("gaz") </span><br>@_localization.Getkey("ıhtıyacınızolan")
            </strong>
            <p>
                @_localization.Getkey("DalındanSofranızaDünyanınHerNoktasına")<br>
                "
                @_localization.Getkey("SağlıkveLezzetinAdıGazelliCevizi")
            </p>
            <a href="/home/İletisim">@_localization.Getkey("ıle")</a>
        </div>
       </div>


   

    <!-- banner -->
    







    <div class="bg-image2 container-fluid" style="background-image: url('/gazelli (6).png');
            height: 50vh; background-size: 100% 100%; background-repeat: no-repeat">

       
      
    </div>

    <h2 class="elementor-heading-title elementor-size-default"><strong> @_localization.Getkey("ürün")</strong>  @_localization.Getkey("gruplarımız")</h2>
  
    <div class="container-fluid mt-5 w-100 ">
        <div class="row gy-4">

            <div class="col-lg-3 col-md-4  col-sm-6  col-12 ">
        <a href="https://localhost:7090/home" class="flip-card-link"></a>
        <div class="flip-card">
            <div class="flip-card-inner">
                <!-- Front -->
                <div class="flip-card-front">
                            <img src=" /walnut-pieces.jpg"  alt="Random Image" class="img-fluid w-100 h-100">
                            <div class="flip-text"><strong>@_localization.Getkey("kırık")</strong></div>

                </div>
                <!-- Back -->
                <div class="flip-card-back">
                    <div class="content-container">
                        <h5>@_localization.Getkey("kırık")</h5>
                                <p>
                                  @_localization.Getkey("text1") 
                                </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- 3rd -->
    <!-- Flip Card -->
    <!-- 4th -->
    <!-- Flip Card -->
    <div class="col-lg-3 col-md-4  col-sm-6 col-12">
        <a href="https://localhost:7090/home" class="flip-card-link"></a>
        <div class="flip-card ">
            <div class="flip-card-inner">
                <!-- Front -->
                <div class="flip-card-front">
                            <img src="/Ceviz-ici-ceyrek-tane-1000x1000.jpg" alt="Random Image" class="img-fluid w-100 h-100">
                            <div class="flip-text"><strong> @_localization.Getkey("ÇEYREK") </strong></div>

                </div>
                <!-- Back -->
                <div class="flip-card-back">
                    <div class="content-container">
                                <h5>@_localization.Getkey("ÇEYREK")</h5>
                                <p>@_localization.Getkey("text2")</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="col-lg-3 col-md-4  col-sm-6 col-12">
                <a href="https://localhost:7090/home" class="flip-card-link"></a>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <!-- Front -->
                        <div class="flip-card-front">
                            <img src="/376bce5ddede20ac9df8ef57bed92afb.jpg" alt="Random Image" class="img-fluid w-100 h-100">
                            <div class="flip-text"><strong> @_localization.Getkey("bal")</strong></div>

                        </div>
                        <!-- Back -->
                        <div class="flip-card-back">
                            <div class="content-container">
                                <h5>@_localization.Getkey("bal")</h5>
                                <p> @_localization.Getkey("text3")</p>
                                   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-lg-3 col-md-4  col-sm-6 col-12">
        <a href="https://localhost:7090/home" class="flip-card-link"></a>
        <div class="flip-card">
            <div class="flip-card-inner">
                <!-- Front -->
                <div class="flip-card-front">
                    <img src="/Walnuts-Kernals-Jumbo-1_1024x1024.png" alt="Random Image" class="img-fluid w-100 h-100">
                            <div class="flip-text"><strong>@_localization.Getkey("kelebek")</strong></div>

                </div>
                <!-- Back -->
                <div class="flip-card-back">
                    <div class="content-container">
                                <h5>@_localization.Getkey("kelebek")</h5>
                                <p>@_localization.Getkey("text4")</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    </div>
    <div class="container-fluid mt-5 w-100">
        <div class="row gy-4">
            <div class="col-lg-3 col-md-4  col-sm-6 col-12">
                <a href="https://localhost:7090/home" class="flip-card-link"></a>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <!-- Front -->
                        <div class="flip-card-front">
                            <img src="/bio-walnuesse-amber-bruch.jpg" alt="Random Image" class="img-fluid w-100 h-100">
                            <div class="flip-text"><strong>@_localization.Getkey("kızıl")</strong></div>

                        </div>
                        <!-- Back -->
                        <div class="flip-card-back">
                            <div class="content-container">
                                <h5>@_localization.Getkey("kızıl")</h5>
                                <p>
                                    @_localization.Getkey("text5")  
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div></div>
            
    <link href="https://fonts.googleapis.com/css?family=Raleway:600,900" rel="stylesheet">
    <div class=" d-block d-sm-none bg-warning p-5 text-white mx-auto">

    </div>
    <h2 class="elementor-heading-title elementor-size-default">
        @_localization.Getkey("kalıte")<strong> @_localization.Getkey("kalıtee")</strong>
        @_localization.Getkey("kalıteee")
    </h2>
 
    <div class="container headline">
  <div class="map-container">
    <img src="http://res.cloudinary.com/slzr/image/upload/v1500321012/world-map-1500_vvekl5.png">
            <div class="point venezuela tippy" title="Venezuela"></div>
            <div class="point brasil tippy" title="Chile"></div>
            <div class="point argentina tippy" title="Argentina"></div>
            <div class="point colombia tippy" title="UNITED ARAB EMIRATES"></div>
            <div class="point panama tippy" title="QATAR"></div>
            <div class="point mexico tippy" title="SPAIN"></div>
            <div class="point usa tippy" title="USA"></div>
            <div class="point arabia tippy" title="Saudi Arabia"></div>
    <div class="point turquia tippy" title="Türkiye"></div>
            <div class="point rusia tippy" title="Holland"></div>
    <div class="point china tippy" title="China"></div>
            <div class="point şili tippy" title="Germany"></div>
            <div class="point australia tippy" title="Italy"></div>
  </div>
</div>

<script>
    $(document).ready(function(){
    tippy('.tippy', {
      theme: 'light',
      size: 'big',
      arrow: true
    })
});
</script>



    <div class="container-fluid messages headline">
        <!-- Message 2 -->
        <div id="topic-1" class="message-topic">@_localization.Getkey("Gorevımız")</div>
        <div id="message-1" class="message-content">
            <span>@_localization.Getkey("Gorevımızz")</span>
        </div>
    </div>
    <script>
        ScrollReveal().reveal('.headline1',{delay:100});
        ScrollReveal().reveal('.headline2',{delay:200});
        ScrollReveal().reveal('.headline3', { delay: 300 });
        ScrollReveal().reveal('.headline4', { delay: 400 });
        ScrollReveal().reveal('.headline5', { delay: 500 });
        ScrollReveal().reveal('.headline6', { delay: 600 });
        ScrollReveal().reveal('.headline7', { delay: 700 });
        ScrollReveal().reveal('.headline8', { delay: 800 });
        ScrollReveal().reveal('.headline9', { delay: 900 });
        ScrollReveal().reveal('.headline', { delay: 800 });

    </script>
 
  <script>
        gsap.from(".bg-image2", {
            delay: 1,
            duration: 2.5,
            ease: "back.out(1.7)",
            y: -250
        });
        const textElement = document.querySelector(".text3");
        gsap.set(".ban_text", { height: () => textElement.clientHeight });

        gsap.to(".text3", {
            text: "I bring commitment and skills your company needs to thrive.",
            duration: 3,
            repeat: 1,
            repeatDelay: 0.7,
            ease: "power1.in",
            delay: 3.5
        });
        gsap.from("", {
            delay: 0.4,
            duration: 2.5,
            x: -400,
            ease: "power2.inOut",
            opacity: 0
        });
  </script>
 
    <script>

        

    </script>
   
</body>