
<body>

     <div class="half-background">
        <div class="background"></div>
        <div class="eleven">
            <h1>@_localization.Getkey("ılet")</h1>

        </div>
        <h1>S</h1>
        
        </div>
       

    <!-- Start Contact Address Area -->
    <section class="contact-address-area">
        <div class="container">
            <div class="sec-title-style1 text-center max-width">
                <div class="title">@_localization.Getkey("ılett")</div>
                <div class="text">
                    <div class="decor-left"><span></span></div>
                    <p>@_localization.Getkey("ılettt")</p>
                    <div class="decor-right"><span></span></div>
                </div>
                <div class="bottom-text">
                    <p>@_localization.Getkey("ıletttt")</p>
                </div>
            </div>
            <div class="row contact-address-box">
                <!-- Start Single Contact Address Box -->
                <div class="col-sm-4 single-contact-address-box text-center">
                    <div class="icon-holder">
                        <span class="icon-clock-1"></span>
                    </div>
                    <h3>GAZELLİ GRUP</h3>
                    <h2>@_localization.Getkey("ılettttt")</h2>
                </div>
                <!-- End Single Contact Address Box -->
                <!-- Start Single Contact Address Box -->
                <div class="col-sm-4 single-contact-address-box main-branch">
                    <h3></h3>
                    <div class="inner">
                        <ul>
                            <li>
                                <div class="title">
                                    <h4>Adres:</h4>
                                </div>
                                <div class="text">
                                    <p>Gazelli Grup, Yeşiloba, Yeşiloba Mah., Atikop Toptancılar Sitesi <br>D Sitesi, F Blok, No: 13, 01100 Seyhan/ADANA</p>
                                </div>
                            </li>
                            <li>
                                <div class="title">
                                    <h4>Ph & Fax:</h4>
                                </div>
                                <div class="text">
                                    <p>‎+90 322 428 23 73<br>info@gazelligrup</p>
                                </div>
                            </li>
                            <li>
                                <div class="title">
                                    <h4>Office Hrs:</h4>
                                </div>
                                <div class="text">
                                    <p>@_localization.Getkey("PazartesıCuma"): 9:00 - 18:30<br>@_localization.Getkey("Cumartesi"): 9:00-14:00<br> @_localization.Getkey("pazar"):@_localization.Getkey("Kapalı") </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Single Contact Address Box -->
                <!-- Start Single Contact Address Box -->
                <div class="col-sm-4 single-contact-address-box text-center">
                    <div class="icon-holder">
                        <span class="icon-question-2"></span>
                    </div>
                    <h3>GAZELLİ GROUP</h3>
                    <h2>@_localization.Getkey("ılettttt")</h2>
                </div>
                <!-- End Single Contact Address Box -->
            </div>
        </div>
    </section>
    <!-- End Contact Address Area -->
    <!-- Start Contact Info Area -->
    <section class="contact-info-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="contact-form">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="sec-title-style1 float-left">
                                    <div class="title">@_localization.Getkey("ılttttt")</div>
                                    <div class="text">
                                        <div class="decor-left"><span></span></div>
                                        <p>@_localization.Getkey("ıltttt")</p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="inner-box">
                            <form id="contact-form" name="contact_form" class="default-form" action="/home/Iletisim/" method="post">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-12">
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="input-box">
                                                    <input type="text" name="name" value="" placeholder="@_localization.Getkey("AdSoyad")" required="">
                                                </div>
                                                <div class="input-box">
                                                    <input type="text" name="phone" value="" placeholder="@_localization.Getkey("Telefon")">
                                                </div>
                                            </div>
                                           
                                                <!-- Continue from the previous code -->
                                        <div class="col-xl-6">
                                            <div class="input-box">
                                                <input type="email" name="email" value="" placeholder="Email" required="">
                                            </div>
                                            <div class="input-box">
                                                <input type="text" name="website" value="" placeholder="Website">
                                            </div>
                                        </div>
                                    </div>
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <div class="input-box">
                                                    <input type="text" name="subject" value="" placeholder="@_localization.Getkey("Konu")">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-12">
                                            <div class="input-box">
                                            <textarea name="message" placeholder=@_localization.Getkey("Mesajınız") required=""></textarea>
                                            </div>
                                            <div class="button-box">
                                                <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                                            <button type="submit" data-loading-text="Lütfen Bekleyiniz...">@_localization.Getkey("MESA")<span class="flaticon-next"></span></button>

                                            </div>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Info Area -->

    
    <div class="whatsapp-button-container">
        <script type="text/javascript">
            (function () {
                var options = {
                    whatsapp: "90 507 251 55 90",
                    call_to_action: "Hello, how can I help you?",
                    position: "left",
                };
                var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
                var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
                s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
                var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
            })();
        </script>
    </div>


</body>

